{% extends 'base.html' %} {% block content %}

<h1 style="text-align: center; font-family: Georgia, 'Times New Roman', Times, serif;">Plant List</h1>
<p style="text-align: center;">~ Click on a card to view more details! ~</p>

{% for plant in plants %}
<div class="card">
<a href="{% url 'detail' plant.id %}">
  <div style="color: rgb(23, 119, 52);" class="card-content">
    <span class="card-title">{{ plant.name }}</span>
    <p>Description: {{ plant.description }}</p>
  </div>
</a>
</div>
{% endfor %} {% endblock %}